###
# Unity folders and files
###
/VR-Playground-Project/[Aa]ssets/AssetStoreTools*
/VR-Playground-Project/[Bb]uild/
/VR-Playground-Project/[Ll]ibrary/
/VR-Playground-Project/[Ll]ocal[Cc]ache/
/VR-Playground-Project/[Oo]bj/
/VR-Playground-Project/[Tt]emp/
/VR-Playground-Project/[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db